<h1>Login</h1>

<form action="" method="POST">
  <input type="email" placeholder="Enter Email" name="email" required />
  <br /><br />
  <input
    type="password"
    placeholder="Enter password"
    name="password"
    required
  />
  <br /><br />
  <input type="submit" value="Login" />
</form>

<% if(typeof message != 'undefined'){ %>
<p style="color: rgb(203, 10, 10)"><%= message %></p>
<% } %>
